<template>
  <div>
    <div class="center">
      <img src="https://cdn2.bulbagarden.net/upload/4/4b/Pok%C3%A9dex_logo.png" />
    </div>
    
   <v-container class="grey lighten-5">
     <v-row>
       <v-btn v-if="urlAnteriores" elevation="3" color="primary" @click="listar(urlAnteriores)">Anteriores</v-btn>
       <v-btn v-if="urlSiguientes" elevation="3" color="primary" @click="listar(urlSiguientes)">Siguientes</v-btn>
     </v-row>
     <br/>
    <v-row no-gutters>
      <v-col
        v-for="valores in registros" :key="valores.id"
        cols="12"
        sm="4"
      >
        <v-app id="inspire" class="size">
          <pokemonCard :url="valores.url"></pokemonCard>
        </v-app>
      </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios'
import pokemonCard from '@/components/PokemonCard.vue'

export default {
  components: {
    pokemonCard
  },

  data() {
    return {
      show: false,
      endPoint: 'https://pokeapi.co/api/v2/',
      registros: [],
      offset: 0,
      limit: 12,
      urlAnteriores: String,
      urlSiguientes: String,
    }
  },
  methods: {
    async listar(urlPaginado = null) {
      let url = this.endPoint + 'pokemon?limit=' + this.limit + '&offset=' + this.offset
      if (urlPaginado != null) {
        url = urlPaginado      
      }
  
      let response = await axios.get(url)
      var respuesta = response.data
      this.registros = respuesta.results
      this.urlAnteriores = respuesta.previous
      this.urlSiguientes = respuesta.next
      //me.pagination = respuesta.pagination;
      console.log(this.registros)
    },
  },
  mounted() {
    this.listar()
  }
}
</script>

<style scoped>
.center {
  text-align: center;
  margin-top: 1%;
}
.size {
  height: 600px;
}

.pointer {
  cursor: pointer;
}
</style>
