<template>
  <div v-if="registro">
    <div class="center">
      <img src="https://cdn2.bulbagarden.net/upload/4/4b/Pok%C3%A9dex_logo.png" />
    </div>
   <v-row>
      <router-link to="/">
          <v-btn color="secondary">
            <i class="cil-arrow-circle-left"></i>
            Regresar
          </v-btn>
        </router-link>
  </v-row>
   

    <v-card class="mx-auto" max-width="344">
      <v-img v-if="registro.sprites" class="pointer" :src="registro.sprites.front_default"  max-width="500"
         max-height="300"></v-img>

      <v-card-title v-bind:class="{ active: isActive }">
        {{ registro.name }}
      </v-card-title>

      <v-card-subtitle>
        <th>Peso: {{ registro.weight }}</th>
        <br />
        <th>Tipos:</th>
        <v-btn v-for="tipo in registro.types" :key="tipo.slot" elevation="2">
          {{ tipo.type.name }}
        </v-btn>
      </v-card-subtitle>

      <v-card-actions>
        <v-btn color="orange lighten-2" text>
          Más información
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn icon @click="show = !show">
          <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
        </v-btn>
      </v-card-actions>

      <v-expand-transition>
        <div v-show="show">
          <v-divider></v-divider>

          <v-card-text>
            <h3>Habilidades:</h3>
            <v-btn v-for="habilidad in registro.abilities" :key="habilidad.abilities" elevation="2">
              {{ habilidad.ability.name }}
            </v-btn>
            <h3>Experiencia:</h3>
            <v-btn>{{ registro.base_experience }}</v-btn>
          </v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
    
  </div>
</template>
<script>
import axios from 'axios'

export default {
  data() {
    return {
      show: false,
      isActive: true,
      registro: []
    }
  },
  methods: {
    async getRegistro() {
      let id = this.$route.params.id
      let endPoint = 'https://pokeapi.co/api/v2/pokemon/'
      let response = await axios.get(endPoint + id)
      var respuesta = response.data
      this.registro = respuesta
    }
  },
  mounted() {
    this.getRegistro()
  }
}
</script>

<style scoped>
.center {
  text-align: center;
  margin-top: 1%;
}
.size {
  height: 600px;
}

.active {
  color: blue;
}

.pointer {
  cursor: pointer;
}
</style>