<template>
  <div v-if="registro">
    <v-card class="mx-auto" max-width="344">
      <v-img
        v-if="registro.sprites"
        :src="registro.sprites.front_default"
         max-width="500"
         max-height="300"
      ></v-img>

      <v-card-title v-bind:class="{ active: isActive }">
        {{ registro.name }}
      </v-card-title>

      <v-card-subtitle>
        Peso: {{ registro.weight }}
        <br />
        Tipos:
        <v-btn v-for="tipo in registro.types" :key="tipo.slot" elevation="2">
          {{ tipo.type.name }}
        </v-btn>
        <br />
        <br />
        <router-link :to="{ name: 'Details', params: { id: registro.id } }">
          <v-btn color="primary" elevation="2">
            Ver detalle
          </v-btn>
        </router-link>
      </v-card-subtitle>
    </v-card>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  props: {
    url: String
  },
  data() {
    return {
      show: false,
      isActive: true,
      registro: []
    }
  },
  methods: {
    async getRegistro() {
      let response = await axios.get(this.url)
      var respuesta = response.data
      this.registro = respuesta
    }
  },
  mounted() {
    this.getRegistro()
  }
}
</script>

<style scoped>
.center {
  text-align: center;
  margin-top: 1%;
}
.size {
  height: 600px;
}

.active {
  color: blue;
}

.pointer {
  cursor: pointer;
}
</style>